body {
  text-align: center;
}

button {
  background-color: #4caf50;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

#table {
  margin: 20px;
}

table {
  margin-left: auto;
  margin-right: auto;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 25%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: blue;
  color: white;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}
